.clearfix:after {
    display:block;
    content:'';
    clear:both;
}


.post .content .deleted {
    padding:0.4em;
    background-color: #f3f4f2;
    color:grey;
    font-weight: bold;
    font-size:120%;
}


.post .buttons {
}

.post .buttons:after {
    display:block;
    content:'';
    clear:both;
}

.post .buttons a {
    display:block;
    float:left;
    margin:.2em;
    padding:.2em .4em;
    box-sizing: border-box;
    border-radius:2px;
    background-color:#d7e2d7;
    text-decoration: none;
    color:#316ac5;
}


.post .buttons.right a {
    float:right;
}

/*postNotice*/
.postNotice{
	border:1px solid green;
	padding:10px;
	background-color:#f1f1f1;
	color:green;	
	text-align:center;
}
/*eo postNotice*/

/*postReport*/
.postReport{
	padding:10px;
	background-color:#fff;
}

.postReport .label{
	font-size:1.1em;
	line-height:130%;
	margin-bottom:10px;
}

.postReport textarea{
	height:200px;
	width:100%;
	padding:10px;
	box-sizing:border-box;
	resize:none;
}

.postReport .buttons{
	text-align:right;
}

.postReport .buttons input[type='submit']{
	padding:10px;
	border:0;
	background-color:#333;
	color:#fff;
}
/*eo postReport*/


/*post-error*/
.post-error{	
	min-height:400px;
	padding:10px 20px;
	background-color:#fff;
	box-sizing:border-box;
}
/*eo post-error*/