/** LINK */
.link {
    cursor:pointer;
}

/* HEADER */
.header {
    background-color:#cdcdcd;
}
.footer {
    background-color:#cdcdcd;
}


/** PAGE HEADER */



#page-header {
    background-color:#2c3e50;
    color:white;
}
#page-header a {
    color:white;
}
#main-menu {
    list-style:none;
    margin:0;
    padding:0;
}

#main-menu:after {
    display:block;
    content:'';
    clear:both;
}


#main-menu li {
    float:left;
    width:12.5%;
    overflow:hidden;
}

#main-menu li span {
    display:inline-block;
    padding:.6em;
    box-sizing: border-box;
    cursor:pointer;
}

#main-menu .logo {
    display:inline-block;
    padding:.5em;
    box-sizing: border-box;
    cursor:pointer;
}

#header-search {
    position:relative;
    margin:0 6% .5em;
    padding:.4em 1em;
    box-sizing: border-box;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color:#2c3e50;
}
#header-search img {
    padding-top:.1em;
}
#header-search input {
    width:100%;
    margin-left:.4em;
    padding-left:.4em;
    box-sizing: border-box;
    background-color:transparent;
    border:0;
    border-bottom:1px solid white;
    color: white;
}
#header-search input:focus {
    outline:none;
}

#header-search input::-webkit-input-placeholder{
    color: white;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

/** PANEL */
#panel-menu {
    position:fixed;
    z-index:999;
    display:none;
    background-color:white;
    color:white;
}
#panel-menu ul {
    list-style: none;
    margin:0;
    padding:0;
    width:14em;
    background-color:#2c3e50;
}
#panel-menu span {
    display:block;
    padding:1em 1em;
    box-sizing: border-box;
    border-bottom:1px solid white;
    text-decoration: none;
    background-image: url('/theme/default/tmp/arrow-right.png');
    background-repeat: no-repeat;
    background-position: 94% 50%;
    cursor:pointer;
    text-shadow: none;
    font-weight: normal;
}
#panel-menu li:last-child span {
    border-bottom:0;
}
