/** LINK */
.link {
    cursor:pointer;
}

/* HEADER */
.header {
    background-color:#cdcdcd;
}
.footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
	margin-top: 20px;
	background-color: #34495e;
	font-size: .8em;
	color: #fff;
	text-align: center;
}


/** PAGE HEADER */



#page-header {
	height:66px;
    background-color:#2c3e50;	
    color:white;
	box-sizing:border-box;
}
#page-header a {
    color:white;
}
#main-menu {
    list-style:none;
    margin:0;
    padding:0;
}

#main-menu:after {
    display:block;
    content:'';
    clear:both;
}


#main-menu li {
    float:left;
    width:20%;
	padding: 10px 0 10px 0;
    overflow:hidden;
	text-align:center;
	cursor:pointer;
}

#main-menu li span {
    display:inline-block;
    padding:0;
    box-sizing: border-box;
    cursor:pointer;
}

#main-menu li .label {    
	font-size:.8em;
	white-space:nowrap;
}

#main-menu .logo {
    display:inline-block;
    /*padding:.5em;*/
    box-sizing: border-box;
    cursor:pointer;
}

#main-menu li.market  {
	display:none;
}

#main-menu li.my_page  {
	display:none;
}

#main-menu li.forum  {
	display:none;
}

#main-menu .my_page img {
	display:block;
    width:100%;
	border-radius:100%;
}

#header-search {
    position:relative;
    margin:0 6% .5em;
    padding:.4em 1em;
    box-sizing: border-box;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    background-color:#2c3e50;
}
#header-search img {
    padding-top:.1em;
}
#header-search input {
    width:100%;
    margin-left:.4em;
    padding-left:.4em;
    box-sizing: border-box;
    background-color:transparent;
    border:0;
    border-bottom:1px solid white;
    color: white;
}
#header-search input:focus {
    outline:none;
}

#header-search input::-webkit-input-placeholder{
    color: white;
    text-shadow: none;
    -webkit-text-fill-color: initial;
}

/** PANEL */
#panel-menu {
    position:fixed;
	top:66px;/*should change if header height changes*/
    z-index:999;
    display:none;
	border:1px solid #fff;
	border-right:0;
    background-color:white;
    color:white;
	box-sizing:border-box;
}
#panel-menu ul {
    list-style: none;
    margin:0;
    padding:0;
    width:14em;
    background-color:#2c3e50;
}
#panel-menu span {
    display:block;
    padding:1em 1em;
    box-sizing: border-box;
    border-bottom:1px solid white;
    text-decoration: none;
    background-image: url('/theme/default/tmp/arrow-right.png');
    background-repeat: no-repeat;
    background-position: 94% 50%;
    cursor:pointer;
    text-shadow: none;
    font-weight: normal;
}

.clearfix:after {
    display:block;
    content:'';
    clear:both;
}

.show-on-click{
	display:none;
}

#panel-menu li:last-child span {
    border-bottom:0;
}

/** User Primary Photo */
.user-primary-photo {

}
.user-primary-photo img {
    width:140px;
    height:140px;
}




/** Endless Page Loader */
.loader-endless-page {
    margin:1em 0 5em;
    text-align:center;
}







/*.page[route='register'] and profile*/
.page[route='register'], .page[route='login'], .page[route='profile']{
	background-color:#2c3e50;
}

.page[route='register'] .header #page-header, .page[route='login'] .header #page-header, .page[route='profile'] .header #page-header{
	background-color:#34495e;
}

.register-wrapper, .profile-wrapper{	
	text-align:center;
	color:#fff;
}

.register-wrapper > .logo{
	padding:25px 0 14px 0;
}

.register-wrapper > .logo.take-user-primary-photo img{
	border-radius:100%;
}

.register-wrapper > .label{
	font-size: 1.1em;
	margin-bottom:25px;
}

.profile-wrapper .take-user-primary-photo{
	display:inline-block;
	width: 50%;
    padding: 7px 0;
	margin: 10px 0 10px 0;
    background-color: #34495e;
    border: 1px solid #fff;
    border-radius: 2px;
    font-size: 1.1em;
    color: #fff;
    box-sizing: border-box;
    cursor: pointer;
}

.profile-wrapper img{
	width:100%;
	max-width:140px;
	margin:0 0 10px 0;
}

.register-wrapper form[name='register'] input:focus{
	outline:0;
}

.register-wrapper form[name='register'] .row{
	width:62%;
	margin:0 auto 3px auto;
	overflow:hidden;	
}

.register-wrapper form[name='register'] .row .caption, .profile-wrapper form[name='profileUpdate'] .row .caption{
	display:none;
}

.register-wrapper form[name='register'] .row .text > *, .profile-wrapper form[name='profileUpdate'] .row .text > *{
	height:45px;
	width:100%;
	padding:14px 10px 14px 52px;
	margin:0;
	border:0;
	border-bottom:1px solid #fff;
	/*background-color:transparent;*/
	font-size:.9em;
	color:#444;
	box-sizing:border-box;
}

.register-wrapper form[name='register'] .row .text{
	position:relative;	
}

.register-wrapper form[name='register'] .row .text:before{
	position: absolute;
    left: 0;
    top: 0;
    width: 47px;
    height: 45px;
    padding: 5px;
    background-color: #e2e2e2;
    overflow: hidden;
    box-sizing: border-box;
}

.register-wrapper form[name='register'] .row.id{
	border-top-left-radius:3px;
	border-top-right-radius:3px;
}

.register-wrapper form[name='register'] .row.id.profile .text{
	height: 35px;
    background-color: #fff;
    padding: 9px 0 9px 52px;
    box-sizing: border-box;
	font-size:.9em;
	color:#444;
	text-align:left;
}

.register-wrapper form[name='register'] .row.mail{
	margin-bottom:20px;
	border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;	
}
 
.register-wrapper form[name='register'] .row.id .text:before{
	content:url("/module/app/img/user.png");
}
.register-wrapper form[name='register'] .row.password .text:before{
	content:url("/module/app/img/password.png");
}
.register-wrapper form[name='register'] .row.confirm_password .text:before{
	padding-left:3px;
	content:url("/module/app/img/confirm_password.png");
}
.register-wrapper form[name='register'] .row.name .text:before{
	content:url("/module/app/img/name.png");
}
.register-wrapper form[name='register'] .row.mobile .text:before{
	content:url("/module/app/img/mobile.png");
}
.register-wrapper form[name='register'] .row.mail .text:before{
	content:url("/module/app/img/mail.png");
}

.profile-wrapper form[name='profileUpdate'] .row{
	margin:0 0 15px 0;
}

.register-wrapper form[name='register'] .row .text ::-webkit-input-placeholder {
   color: #939494;
}

.register-wrapper form[name='register'] .row .text :-moz-placeholder { /* Firefox 18- */
   color: #939494;  
}

.register-wrapper form[name='register'] .row .text ::-moz-placeholder {  /* Firefox 19+ */
   color: #939494;  
}

.register-wrapper form[name='register'] .row .text :-ms-input-placeholder {  
   color: #939494;  
}

.register-wrapper form[name='register'] input[type='submit']{
	width:62%;
	padding:7px 0;	
	background-color:#34495e;
	border:1px solid #fff;
	border-radius:2px;
	font-size:1.1em;	
	color:#fff;
	box-sizing:border-box;
	cursor:pointer;
}

.profile-wrapper form[name='profileUpdate'] input[type='submit']{
	width:62%;
	padding:7px 0;	
	background-color:#34495e;
	border:0;
	border-radius:2px;
	font-size:1.1em;	
	color:#fff;
	box-sizing:border-box;
	cursor:pointer;
}
/*eo .page[route='register']*/

/*login-box*/
.login-box .logo{
	padding: 37px 0 30px 0;
    color: #fff;
    font-size: 3em;
    text-align: center;
    line-height: initial;
}

.login-box .input-wrapper{
	position:relative;
	width:70%;
	margin:auto;
	overflow:hidden;
}

.login-box .input-wrapper.user{
	margin-bottom:5px;
	border-top-left-radius:2px;
	border-top-right-radius:2px;
}

.login-box .input-wrapper.password{
	margin-bottom:15px;
	border-bottom-left-radius:2px;
	border-bottom-right-radius:2px;
}

.login-box .bg-wrapper{
	position:absolute;
	left:0;
	top:0;
	padding:5px;
	background-color:#e2e2e2;
}

.login-box .sprite{	
	
}

.login-box input{	
	height:45px;
	width:100%;
	padding:10px;
	border:0;
	box-sizing:border-box;
}

.login-box input[type='text'], .login-box input[type='password']{	
	padding-left:55px;
}

.login-box input[type='submit'], .login-box .register{
	display: inline-block;
    width: 100%;
    height: 40px;
    padding: 11px 0;
    border-radius: 2px;
    background-color: #297fb8;
    font-size: 1.1em;
    font-weight: bold;
    color: #fff;
    box-sizing: border-box;
    text-align: center;
}

.login-box input[type='submit']{
	margin-bottom:10px;
}

.login-box .register{
	background-color:#fff;
	color:#297fb8;
	text-decoration:none;
}

.login-box .forgot-password{
	padding:0 10px;
	margin:55px 0 0 0;
	font-size:.8em;
	color:#fff;
	text-align:right;
}

/*eo login-box*/

/*modal_window*/
.modal_window{
	position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
	padding:50px 30px;
    background-color: rgba(0,0,0,.9);
    z-index: 9999;    
	box-sizing:border-box;
	text-align:center;
}

.modal_window img{
	box-sizing:border-box;	
}

.modal_window .arrow{
	position:absolute;
	top:47.3%;
	padding:10px 15px;
	width:50px;
	cursor:pointer;
}

.modal_window .arrow.left{
	left:0;
}

.modal_window .arrow.right{
	right:0;
}
/*eo modal_window*/

/*invisible-window*/
.invisible_window{
	position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
	padding:10px;
    z-index: 900;    
	box-sizing:border-box;
	text-align:center;
	opacity:0;
}
/*eo invisible-window*/

@media screen and (min-width: 400px) {
	#main-menu li  {		
        width:16.66%;
    }
	
	#main-menu li.forum  {		
        display:inline-block;
    }
}

@media screen and (min-width: 640px) {
	#main-menu li {
		width:12.5%;	
	}

    #main-menu li.market  {
        display:inline-block;
    }
	
    #main-menu li.my_page  {
        display:inline-block;
    }
}

/*user profile*/
.popup-profile{
	position:absolute;
	padding:5px 5px 0 5px;
	background-color:#fff;
	border: 1px solid #d5d5d5;
}

.popup-profile .triangle{
	position:absolute;
	left:10px;
	top:-7px;
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 7px solid #a4a4a4;
}

.popup-profile .triangle.inner{	
	top:-6px;	
	border-bottom: 7px solid #fff;
}

.popup-profile .table-user-info{
	margin-bottom:10px;
}

.popup-profile .primary-photo{
	width:80px;
	padding-right:10px;
}

.popup-profile .primary-photo img{
	display:block;
	width:100%;
}

.popup-profile .message-write-wrapper{
	padding:0;
	margin:0;
}

.popup-profile .message-write-wrapper .buttons{
	margin:0;
}

.popup-profile .message-write-wrapper .file-display{
	margin-top:3px;
}

.popup-profile .message-write-wrapper textarea.message-content{
	height:45px;
	border:1px solid #c7c7c7;
	border-radius:0;
	background-color:#fff;
}

.popup-profile .info .name{
	margin:5px 0 7px 0;
	font-size:1.1em;
	font-weight:bold
}

.popup-profile .info .id{
	margin-bottom:10px;
	font-size:1.1em;	
}

.popup-profile .info .info-item{
	font-size:.8em;
	margin-bottom:3px;
}

.popup-profile .info .info-item .label{
	font-weight:bold;
	color:#ab1212;	
}
/*eo user profile*/



/*viewPage*/
.viewPage{
	padding:10px 0;
	background-color:#fff;
	font-size:.8em;
}

.viewPage > .temp-page > *{
	padding:0 10px;	
}

.viewPage img{
	width:100%;
}
/*
.viewPage .title{
	padding: 10px;
	margin: 0 0 10px 0;
	border-bottom: 3px solid #d5d5d5;
	font-size: 1.2em;
	font-weight: bold;
}*/

.viewPage .title{
	padding:0 10px 10px 10px;	
	margin:0 0 10px 0;	
	border:0;
	border-bottom:2px solid #56A09E;
	font-size:1.5em;
	font-weight:normal;
	color:#166B72;
	line-height:initial;
}

.viewPage:first-child .title{
	padding-bottom:5px;
	margin-bottom:5px;
}

.viewPage .sub-title{
	display:none;
	padding:0 20px;	
	margin:0 0 10px 0;
	font-size:.9em;
	font-weight:bold;
	color:#D87C2B;
}

.viewPage:first-child .sub-title{
	display:block;	
}
/*eo viewPage*/