html, body, .page {
    height:100%;
}

.page {
    position:relative;
}

.page > .header {
    position:fixed;
    top:0;
    left:0;
    right:0;
	height:66px;
	z-index:1;
}

.page > .content {
    padding-top:66px;
}
