.sprite{
	background:url('/module/app/img/sprite.png');
	overflow:hidden;
}

.sprite.logo{
	width: 25px;
	height: 25px;
	padding-left: 10px;
	margin-bottom: 3px;
	/* background-position: -3px -4px; */
	border-radius: 2px;
}

.sprite.ask{
	width:19px;
	height:27px;
	background-position: -33px 0;
}

.sprite.forum{
	width:33px;
	height:27px;
	background-position: -54px 0;
}

.sprite.news{
	width:28px;
	height:27px;
	background-position: -87px 0;
}

.sprite.market{
	width:34px;
	height:27px;
	background-position: -117px 0;
}

.sprite.jobs{
	width:28px;
	height:27px;
	background-position: -151px 0;
}

.sprite.my_page, .sprite.profile{
	width:27px;
	height:27px;
	background-position: -216px 0;
}

.sprite.menu{
	width:35px;
	height:27px;
	background-position: -180px 0;
}

.sprite.user{
	width:37px;
	height:35px;
	background-position: 0 -32px;
}

.sprite.password{
	width:37px;
	height:35px;
	background-position: -38px -32px;
}

.sprite.new_message{
	width:60px;
	height:60px;
	background-position: -0 -98px;
}

.sprite.check_box{
	width:16px;
	height:16px;
	background-position: -298px 0;
}

.sprite.check_box.is-active{	
	background-position: -315px 0;
}

.sprite.delete{	
	width:17px;
	height:21px;
	background-position: -332px 0;
}