.post-list.wooreeedu{
	min-height:500px;	
	margin:0 0 0 0;
	background-color:#fff;
}

.post-list.wooreeedu > .inner{
	padding:10px 0;
	margin:0 10px;
	border-bottom:2px solid #ccc;
}

.post-list.wooreeedu > .inner .read-more{	
	display:inline-block;
	position:relative;
	padding:12px 24px 11px 12px;
	margin:10px 10px 20px 10px;
	border-radius:3px;
	background-color:#f39c12;
	font-weight:bold;
	color:#fff;
	text-decoration:none;
}

.post-list.wooreeedu > .inner .arrow.right{	
	position:absolute;
	right:10px;
	top:15px;
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid #fff;
}

.post-list.wooreeedu .category-title{	
	padding:20px 10px 20px 10px;
	margin:0 10px 10px 10px;
	border-bottom:2px solid #ccc;	
	font-size:1.3em;
}

.post-list.wooreeedu .inner > .title{
	padding:20px 10px;
	border-bottom:1px solid #ccc;
	font-size:1.2em;
}

.post-list.wooreeedu .post-info{	
	border-bottom:1px solid #ccc;
	font-size:1em;
}

.post-list.wooreeedu .post-info > .name{
	float:left;
	margin-right:10px;
	border-right:1px solid #ccc;
}

.post-list.wooreeedu .post-info > div{
	padding:10px 10px;
}

.post-list.wooreeedu .post-info > div .highlight{
	color:#0091a0;
}


.post-list.wooreeedu .content{
	padding:10px;
}

/*page navigator*/
.post-list.wooreeedu .page-navigator-wrapper{
	height:70px;
	padding:10px;
	text-align:right;
	box-sizing:border-box;
}

.post-list.wooreeedu .page-navigator-wrapper .navigation-bar{
	text-align:right;
}

.post-list.wooreeedu .page-navigator-wrapper .navigation-bar{
	
}

.post-list.wooreeedu .page-navigator-wrapper .navigation-bar > a{
	padding:4px 7px 3px 7px;
	border:1px solid #f39c12;
	background-color:transparent;
}

.post-list.wooreeedu .page-navigator-wrapper .navigation-bar .page.selected{
	background-color:#f39c12;
}
/*eo page navigator*/

/*buttons right*/
.post-list.wooreeedu .buttons.right{
	position:relative;
	top:-10px;
	float:right;
}

.post-list.wooreeedu .buttons.right > a{
	padding:5px 15px;
	background-color:#1abc9c;
	color:#fff;
}

.post-list.wooreeedu .buttons.right > a.settings{	
	background-color:transparent;
	color:#1abc9c;
}
/*eo buttons right*/

/*post-list-search-box*/
.post-list.wooreeedu .post-list-search-box{
	float:left;
	margin:10px 0 0 0;
	background-color:#fff;
}

.post-list.wooreeedu .post-list-search-box label[for='qn']:after{
	
}

.post-list.wooreeedu .post-list-search-box .input{
	
}
/*eo post-list-search-box*/