.postEdit.wooreeedu{
	padding:10px;
	background-color:#fff;	
}

.postEdit.wooreeedu .row{
	padding:10px;	
}

.postEdit.wooreeedu .row .caption{
	float:left;
	padding:5px;
	margin-right:10px;
}

.postEdit.wooreeedu .row.title{
	position:relative;
}

.postEdit.wooreeedu .row.title .caption{
	height:34px;
	position:absolute;
	left:0;
	top:6px;
	font-size:1.3em;
	box-sizing:border-box;
}

.postEdit.wooreeedu .row.title .text{
	padding-left:63px;	
}

.postEdit.wooreeedu .row.title input{
	width:100%;
	padding:10px 10px;
	border:0;
	background-color:#f1f1f1;
	box-sizing:border-box;
}

.postEdit.wooreeedu .row.file-upload input{
	margin-bottom:10px;
}

.postEdit.wooreeedu .row.content .caption{
	display:none;
}

.postEdit.wooreeedu .form-buttons{
	position:relative;
	/*text-align:right;*/
}
/*
.postEdit.wooreeedu .form-buttons .left{
	width:70%;
}

.postEdit.wooreeedu .form-buttons .right{
	width:30%;
	float:right;	
}
*/
.postEdit.wooreeedu .form-buttons > *{
	display:inline-block;
	padding:6px 12px 8px 12px;
	margin:0 10px 0 0;
	font-size:1.2em;
	box-sizing:border-box;
	cursor:pointer;
}

.postEdit.wooreeedu .form-buttons > .right{
	float:right;
}

.postEdit.wooreeedu .form-buttons input[type='submit']{	
	height:38px;	
	border:0;
	padding:6px 35px 8px 35px;
	border-radius:3px;
	background-color:#2980b9;
	color:#fff;	
	line-height:100%;
}

.postEdit.wooreeedu .form-buttons a{
	height:38px;		
	display: inline-block;
	padding:8px 35px 10px 35px;
	border-radius:3px;
    background-color: #e84c3d;
    color: #f1f1f1;
	text-decoration:none;
	line-height:100%;
}

/*upload*/
.postEdit.wooreeedu .form-buttons .ajax-file-upload-progress-bar{
	display:none;
	position: absolute;
    left: 160px;
	top:11px;
	width:100px;
	padding:0;	
	text-align:center;
}

.postEdit.wooreeedu .row.file-upload{			
	float:left;
	width:100%;
	padding:0;
	margin:0 0 0 10px;
	font-size:.9em;
}

.postEdit.wooreeedu .row.file-upload  .caption{
	display:none;
}

.postEdit.wooreeedu .row.file-upload .text{
	/*position:relative;*/
}

.postEdit.wooreeedu .row.file-upload .text:before{
	position:absolute;
	left:10px;
	top:0;
	display:block;
	height:38px;
	width:140px;
	padding:8px 0 10px 52px;
	border-radius:3px;
	background:url('/widget/post_edit_wooreeedu/img/camera_white_temp.png');
	background-repeat: no-repeat;
    background-position: 10px 10px;
    background-size: 17%;
	background-color:#bdc3c7;
	font-weight:bold;
	color:#fff;
	content:'사진 추가';
	box-sizing:border-box;
	text-align:left;
	z-index:1;
}

.postEdit.wooreeedu .row.file-upload  .text input{
	position:absolute;
	top:0;
	left:10px;
	height:38px;
	width:140px;
	margin:0;
	z-index:2;
	opacity:0;
}

.postEdit.wooreeedu .row.file-upload  .file-display{
	
}

.postEdit.wooreeedu .row.file-upload  .file-display > .file{
	margin:10px 5px 0 0;
}

.postEdit.wooreeedu .row.file-upload  .file-display > .file:last-child{
	margin-right:0;
}
/*eo upload*/