.clearfix:after {
    display:block;
    content:'';
    clear:both;
}

.page-content{
	max-width:960px;
	margin:auto;
}

/*media for grid4*/
@media all and ( min-width: 480px ) { /** 480px and above */
	/*.grid4 .a > div{
		padding:0 5px 0 0;
	}
	
	.grid4 .b > div{
		padding:0 0 0 5px;
	}*/
}


@media all and ( min-width: 720px ) { /** 800px and above */
	/*.grid4 .a > div{
		padding:0 6.66px 0 0;
	}
	
	.grid4 .b > div{
		padding:0 3.33px 0 3.33px;
	}*/
	
	.grid4 .b > div{
		padding:0 3.33px 0 0;
	}
	
	.grid4 .c > div{
		padding:0 0 0 6.66px;
	}
}


@media all and ( min-width: 960px ) { /** 800px and above */
	/*.grid4 .a > div{
		padding:0 7.5px 0 0;
	}
	
	.grid4 .b > div{
		padding:0 5px 0 2.5px;
	}
	*/
	
	.grid4 .b > div{
		padding:0 5px 0 0;
	}
	
	.grid4 .c > div{
		padding:0 2.5px 0 5px;
	}
	
	.grid4 .d > div{
		padding:0 0 0 7.5px;
	}
}