.clearfix:after {
    display:block;
    content:'';
    clear:both;
}


/*temp-page*/
.temp-page{
	padding: 10px;
    background-color: #fff;
    min-height: 400px;
}

.temp-page .title{
	padding:10px;
	margin-bottom:10px;
	border-bottom:3px solid #d5d5d5;
	font-size:1.5em;
}

.temp-page img{
	display:block;
	max-width:720px;
	margin:auto;
}
/*eo temp-page*/