.front-top-banner{
	margin-bottom:10px;
}

.front-top-banner img{
	max-width:100%;
}

.page-content{
	max-width:960px;
	margin:auto;
}

/*page-content TOP thumbnailWithText*/
.page-content.top .post-thumbnail-with-text .item{
	margin-bottom:10px;
}

.page-content.top .post-thumbnail-with-text .item:last-child{
	margin-bottom:0;
}
/*eo page-content TOP thumbnailWithText*/

/*page-content TOP .post-hover-title-image*/
.page-content.top .post-hover-title-image .item{
	margin-bottom:10px;
}

.page-content.top .post-hover-title-image .item:last-child{
	margin-bottom:0;
}
/*eo page-content TOP .post-hover-title-image*/

/*page-content TOP .post-bullet-list*/
.page-content.top .post-bullet-list{
	
}

.page-content.top .post-bullet-list .item:last-child .title{
	padding-bottom:9px;
}
/*eo page-content TOP .post-bullet-list*/