.front-top-banner{
	margin-bottom:10px;
}

.front-top-banner img{
	width:100%;
}

/*page-content TOP thumbnailWithText*/
.page-content.top .post-thumbnail-with-text .item{
	height: 85px;
	margin-bottom:10px;	    
    box-sizing: border-box;
}

.page-content.top .post-thumbnail-with-text  a:last-child .item{
	margin-bottom:0;
}
/*eo page-content TOP thumbnailWithText*/

/*page-content TOP .post-hover-title-image*/
.page-content.top .post-hover-title-image .item{
	margin-bottom:10px;
}

.page-content.top .post-hover-title-image a:last-child .item{
	margin-bottom:0;
}
/*eo page-content TOP .post-hover-title-image*/

/*page-content TOP .post-bullet-list*/
.page-content.top .post-bullet-list{
	
}

.page-content.top .post-bullet-list  a:last-child .title .item{
	padding-bottom:9px;
}
/*eo page-content TOP .post-bullet-list*/