#header-top{
	padding:15px 0;
	border-bottom:4px solid #0091a0;
	background-color:#fff;
}

#header-top > .inner{
	max-width:960px;
	padding:0 10px;
	margin:auto;
	box-sizing:border-box;
}

#header-top > .inner:after{
	display:block;
	content:'';
	clear:both;
}

#header-top > .inner .logo{
	display:block;
	width:303px;
	margin:auto;
}

#header-top > .inner ul#main-menu{	
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}

#header-top > .inner ul#main-menu li{
	display:inline-block;
	margin-top:10px;
}

#header-top > .inner ul#main-menu li a{
	display:inline-block;
	font-size:1.1em;
	margin:0 10px;	
	color:#0091a0;
	border:1px solid #fff;
	text-decoration:none;
}

#header-top > .inner ul#main-menu li a:hover{
	border-bottom:2px solid #66bdc6;
	/*font-weight:bold;*/
}

#header-top > .inner ul#main-menu li a.is-active{
	/*padding:10px 0 10px 0;*/
	
	border-bottom:1px solid #66bdc6;
	color:#000;
}

@media all and ( min-width: 720px ) {
	#header-top > .inner .logo{
		float:left;
		margin-right:10px;
	}
	
	#header-top > .inner ul#main-menu{		
		float:none;
	}
	
	#header-top > .inner ul#main-menu li{
		margin-top:0;
	}
	
	#header-top > .inner ul#main-menu li a{
		padding: 0 0 5px 0;
		margin-bottom:5px;
	}
}

@media all and ( min-width: 860px ) {
	#header-top > .inner .logo{
			
	}

	#header-top > .inner ul#main-menu{
		
	}
}

@media all and ( min-width: 960px ) {
	#header-top > .inner{
		padding:0;
	}
	
	#header-top > .inner .logo{		
		margin-right:5px;
	}
	
	#header-top > .inner ul#main-menu li{
		margin-top:10px;
	}
	
	#header-top > .inner ul#main-menu li a{
		padding:10px 0;
	}
}