#header-top{
	padding:15px 0;
	background-color:#fff;
}

#header-top > .inner{
	max-width:960px;
	padding:0 10px;
	margin:auto;
	box-sizing:border-box;
}

#header-top > .inner:after{
	display:block;
	content:'';
	clear:both;
}

#header-top > .inner .logo{
	display:block;
	width:303px;
	margin:auto;
}

#header-top > .inner ul#main-menu{	
	padding:0;
	margin:0;
	list-style:none;
	text-align:center;
}

#header-top > .inner ul#main-menu li{
	display:inline-block;
	margin-top:10px;
}

#header-top > .inner ul#main-menu li a{
	display:inline-block;
	padding:10px;	
	font-size:1.1em;
	color:#0091a0;
	border:1px solid #fff;
	text-decoration:none;
}

#header-top > .inner ul#main-menu li a.is-active{
	padding:10px 0 10px 0;
	margin:0 10px;
	border-bottom:1px solid #66bdc6;
}

#header-top > .inner ul#main-menu li a:hover{
	padding:10px;
	margin:0;	
	border-color:#0091a0;
	border-radius:5px;
	color:#24b8c9;
}

@media all and ( min-width: 800px ) {
	#header-top > .inner .logo{
		float:left;
		margin-right:10px;
	}
	
	#header-top > .inner ul#main-menu{
		float:right;
		text-align:left;
	}
}

@media all and ( min-width: 860px ) {
	#header-top > .inner .logo{		
		margin-right:70px;
	}

	#header-top > .inner ul#main-menu{
		float:none;
	}
}

@media all and ( min-width: 960px ) {
	#header-top > .inner{
		padding:0;
	}
}