.post .comment-list .comment {
	position:relative;
	padding:0 10px;
    margin: 1em 0;    
	border-bottom:1px solid #d7d7d7;
    background-color:#fff;		
	box-sizing: border-box;
}

.post .comment-list .comment[depth='2'] {
    padding-left:3em;
}
.post .comment-list .comment[depth='3'] {
    padding-left:5.5em;
}
.post .comment-list .comment[depth='4'] {
    padding-left:7.5em;
}
.post .comment-list .comment[depth='5'] {
    padding-left:9em;
}
.post .comment-list .comment[depth='6'] {
    padding-left:10.4em;
}
.post .comment-list .comment[depth='7'] {
    padding-left:11.3em;
}
.post .comment-list .comment[depth='8'] {
    padding-left:12.2em;
}
.post .comment-list .comment[depth='9'] {
    padding-left:13.1em;
}
.post .comment-list .comment[depth='10'] {
    padding-left:14em;
}
.post .comment-list .comment[depth='11'] {
    padding-left:14.9em;
}
.post .comment-list .comment[depth='12'] {
    padding-left:15.8em;
}
.post .comment-list .comment[depth='13'] {
    padding-left:16.7em;
}
.post .comment-list .comment[depth='14'] {
    padding-left:17.6em;
}
.post .comment-list .comment[depth='15'] {
    padding-left:18.5em;
}
.post .comment-list .comment[depth='16'] {
    padding-left:19.4em;
}
.post .comment-list .comment[depth='17'] {
    padding-left:20.3em;
}
.post .comment-list .comment[depth='18'] {
    padding-left:21.2em;
}
.post .comment-list .comment[depth='19'] {
    padding-left:22.1em;
}
.post .comment-list .comment[depth='20'],
.post .comment-list .comment[depth='21'],
.post .comment-list .comment[depth='22'],
.post .comment-list .comment[depth='23'],
.post .comment-list .comment[depth='24'],
.post .comment-list .comment[depth='25'],
.post .comment-list .comment[depth='26'],
.post .comment-list .comment[depth='27'],
.post .comment-list .comment[depth='28'],
.post .comment-list .comment[depth='29'],
.post .comment-list .comment[depth='30'],
.post .comment-list .comment[depth='31'],
.post .comment-list .comment[depth='32'],
.post .comment-list .comment[depth='33'],
.post .comment-list .comment[depth='34']
{
    padding-left:23.0em;
}

.post .comment-list .comment .menu {
	position:absolute;
	top:0;
	right:10px;	
}

.post .comment-list .comment .menu > .delete {
	display:inline-block;
	width:8px;
	height:8px;
	background:url("/core/module/post/widget/post_view_comment_list/img/delete.png");	
}


.post .comment-list .comment .name{
	font-weight:bold;	
}

