.commentEdit.wooreeedu{
	min-height:400px;
	padding:10px;
	background-color:#fff;	
}

.commentEdit.wooreeedu .row.content textarea{
	width:100%;
	padding:10px;
	height:200px;
	resize:none;
	box-sizing:border-box;
}

.commentEdit.wooreeedu .row.file-upload input{
	margin-bottom:10px;
}

.commentEdit.wooreeedu .row.content .caption{
	display:none;
}
.commentEdit.wooreeedu .form-buttons{
	text-align:right;
}
.commentEdit.wooreeedu .form-buttons > *{
	display:inline-block;
	padding:8px 12px;
	margin:0 0 0 0;
	font-size:1em;
	box-sizing:border-box;
	cursor:pointer;
}
.commentEdit.wooreeedu .form-buttons input[type='submit']{
	height:35px;
	border:1px solid #d5d5d5;	
	background-color:transparent;
	color:#444;
}