.category-setting th, .category-setting td{
	padding:5px 10px;
}

.category-setting .admin-button{
	display: inline-block;
    padding: 5px 10px;
	border:0;
    border-radius: 2px;
    background-color: #003366;
    color: #ffffff;
    box-sizing: border-box;
	text-decoration:none;
    cursor: pointer;
}

/*add-child-form*/
.category-setting .add-child-form{
	margin:5px 0 0 0;
}
/*add-child-form*/