.ajax-file-upload-progress-bar {
    position:relative;
    background-color:#d3e8f4;
    max-width:120px;
}
.ajax-file-upload-progress-bar .graph {
    position: relative;
    background-color: #66afe9;
    top:0;
    bottom:0;
}

.file-display {
    position:relative;
}
.file-display:after {
    display:block;
    content:'';
    clear:both;
}

.file-display .file {
    float:left;
}

.file-display .file .delete {
    position:absolute;
    top:3px;
    right:3px;
    padding:6px;
    border-radius:2px;
    box-sizing: border-box;
    background-color:red;
    color:white;
    cursor: pointer;
}

.file-display img {
    width:auto;
    max-height: 6em;
}

.file-display .file.attachment {
    padding:3px;
    box-sizing: border-box;
    max-width:5em;
    background-color: #4677CE;
    color:white;
}